<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo_thing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_thing.description %>
</p>

<%= link_to 'Edit', edit_todo_thing_path(@todo_thing) %> |
<%= link_to 'Back', todo_things_path %>
